Flask==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.23
Flask-Login==0.5.0
Flask-WTF==0.15.1
Werkzeug==2.0.1
python-dotenv==0.19.0
flask-restx==1.0.5
aniso8601==9.0.1
attrs==21.4.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
jsonschema==4.4.0
pyrsistent==0.18.1
pytz==2023.3
six==1.16.0
typing-extensions==4.1.1
zipp==3.6.0